<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
			"http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"	
>
	<bean id = "member"  class="Model.DTO.Member" />
	<bean id = "partner" class="Model.DTO.Partner"/>
	
	<bean id = "memberJoinService" class="Service.MemberJoinService" />
	<bean id = "memberLoginService" class="Service.MemberLoginService" />
	<bean id = "memberLogoutService" class="Service.MemberLogoutService" />
	<bean id = "memberConfirmIdService" class="Service.MemberConfirmIdService" />
	<bean id = "memberDeleteService" class="Service.MemberDeleteService" />
	<bean id = "pwChangeService" class="Service.PwChangeService" />
	<bean id = "pwChangeActService" class="Service.PwChangeActService" />
	<bean id = "memberModService" class="Service.MemberModService" />
	<bean id = "nameChangeService" class="Service.NameChangeService" />
	<bean id = "nameModService" class="Service.NameModService" />
	<bean id = "emailCdhangeService" class="Service.EmailChangeService" />
	<bean id = "emailModService" class="Service.EmailModService" />
	<bean id = "birthModService" class="Service.BirthModService" />
	
	<bean id = "BoardJoinService" class = "Service.BoardJoinService"/>
    <bean id = "board" class="Model.DTO.Board"/>
    <bean id = "BoardListService" class="Service.BoardListService" />
	
	<bean id = "partnerAddService" class = "Service.PartnerAddService" />
	<bean id = "searchPartnerService" class = "Service.SearchPartnerService" />
	<bean id = "partnerMoreService" class = "Service.PartnerMoreService" />
	<bean id = "partnerModifyService" class = "Service.PartnerModifyService"/>
	<bean id = "partnerDeleteActionService" class = "Service.PartnerDeleteActionService"/>
	<bean id = "partnerDelService" class = "Service.PartnerDelService"/>


	<bean id = "sessionRepository" class = "Repository.SessionRepository"/>
	<bean id = "partnerRepository" class = "Repository.PartnerRepository"/>


</beans>