<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation=
			"http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans.xsd
			"	
>
	<bean id = "member"  class="Model.DTO.Member" />
	<bean id = "memberJoinService" class="Service.MemberJoinService" />
	<bean id = "memberLoginService" class="Service.MemberLoginService" />
	<bean id = "memberLogoutService" class="Service.MemberLogoutService" />
	<bean id = "pwChangeService" class="Service.PwChangeService" />
	<bean id = "pwChangeActService" class="Service.PwChangeActService" />
	<bean id = "memberModService" class="Service.MemberModService" />
	<bean id = "sessionRepository" class="Repository.SessionRepository" />


</beans>